@charset "UTF-8";

/* untitled-font-1 */
@font-face {
    font-family: "untitled-font-1";
    src:url("https://file.myfontastic.com/zerG3EDgRqbAm4uEucPsQV/fonts/1538283247.eot");
    src:url("https://file.myfontastic.com/zerG3EDgRqbAm4uEucPsQV/fonts/1538283247.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/zerG3EDgRqbAm4uEucPsQV/fonts/1538283247.woff") format("woff"),
    url("https://file.myfontastic.com/zerG3EDgRqbAm4uEucPsQV/fonts/1538283247.ttf") format("truetype"),
    url("https://file.myfontastic.com/zerG3EDgRqbAm4uEucPsQV/fonts/1538283247.svg#1538283247") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "untitled-font-1" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-1" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-adn:before {
    content: "\65";
}
.icon-cube:before {
    content: "\6a";
}
.icon-cutlery:before {
    content: "\6b";
}
.icon-futbol-o:before {
    content: "\61";
}
.icon-heart:before {
    content: "\62";
}
.icon-lightbulb-o:before {
    content: "\63";
}
.icon-mars:before {
    content: "\64";
}
.icon-mars-stroke:before {
    content: "\66";
}
.icon-shopping-cart:before {
    content: "\67";
}
.icon-space-shuttle:before {
    content: "\68";
}
.icon-taxi:before {
    content: "\69";
}
.icon-tree:before {
    content: "\6c";
}