.products-container * {
    font-family: 'M PLUS Rounded 1c',sans-serif !important;
}

.conteiner-categories{
    width:100%;
    overflow: hidden;
}

.conteiner-categories .elements{
    float: right;
    width: 48%;
    padding: 12px 6px;
}

.save-config {
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 0 2.5%;
    cursor: pointer;
}

.form-check {
    font-size: 15px;
    padding: 5px;
    border: 1px solid grey;
    margin: 10px 0;
    width: 50%;
    cursor: grab;
}

.form-check input[type="checkbox"] {
    visibility: hidden;
}

.warning.widget-area {
    clear: both;
    text-align: center;
    color: red;
    border: 1px solid grey;
    width: 40%;
    margin: 30px 20%;
    padding: 9px;
    background: white;
    border-radius: 5px;
    font-weight: 600;
    display:none;
}

.element-selected .form-check i {
    line-height: 8px;
    margin: 15px;
    font-size: 25px;
    padding: 0px 0px 0px 0;
}

.element-no-selected .form-check i {
    display: none;
}

.element-no-selected .setup-icon {
    display: none;
}

.dashicons-before.dashicons-admin-tools.setup-icon {
    float: right;
    cursor: pointer;
}

/* Modal */

/* The Modal (background) */
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.container-icons {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    overflow: hidden;
}

.container-icons i {
    font-size: 25px;
    border: 1px solid grey;
    padding: 9px;
    margin: 5px 7.5px;
    float: left;
}

.container-icons i:hover {
    background: black;
    color: white;
    cursor: pointer;
}