ul.products.columns-4 {
    padding: 0px !important;
}

div#tabs {
    position: relative;
    border: 0;
    margin: 0px auto 50px auto;
    box-shadow: 0 0px 20px 2px rgba(0,0,0,.1);
    background: #fff !important;
    padding: 0em 1.5em;
}

div#tabs * {
    outline:0!important;
}

ul.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header li {
    float: left;
    width: 20%;
    font-size: 20px;
    text-align: center;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe0e6;
    border-radius: 0px;
    padding: 25px 0px !important;
    margin:0;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    margin-bottom: 50px !important;
}

#tabs > ul > li > a {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #132147;
}

.ui-tabs .ui-tabs-panel {
    padding: 0px !important;
}

ul.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    background:transparent;
    border:0;
}

.ui-tabs-panel li {
    float: left;
    width: 30%;
    margin: 0 1.3%;
    list-style-type: none;
    cursor:pointer;
}

.ui-state-active{
    border-bottom: 1px solid #ed135d;
    border-radius: 0px !important;
    margin-bottom: -1px !important;
}

.ui-state-active > a {
    color: #ed135d !important;
}

.ui-state-hover {
    background: none !important;
}

.ui-state-hover > a {
    color: #ed135d !important;
}

.products a h2 {
    line-height: 20px;
}

.ui-tabs-nav span {
    display: block;
    font-size: 13px;
    font-weight: normal;
    color: #132147;
}

.ui-state-default::before {
    box-sizing: inherit;
    content: "";
    position: absolute;
}

.ui-state-default{
    transition: color 0.25s;
}
.ui-state-default::before {
    border: 1px solid transparent;
    width: 0 !important;
}
.ui-state-default::before {
    left: 0;
    bottom: 0;
    visibility: visible !important;
}

.ui-state-defaulthover {
    color: #ed135d !important;
}
.ui-state-default:hover::before {
    width: 100% !important;
}
.ui-state-default:hover::before {
    border-bottom-color: #ed135d !important;
    transition: width 0.25s ease-out;
}


@media (max-width: 768px) {
    .ui-tabs-nav span {
        display: none;
    }
    .ui-state-active {
        width: 100%;
    }

    .ui-state-active .ui-tabs-nav span {
        display: block !important;
    }
}